/*--------------------------------------------------------------
#  Image Cropper
--------------------------------------------------------------*/
.cropper-container {
  position: fixed;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50vw; /* Full width of the viewport */
  height: 80vh; /* Full height of the viewport */
  background: rgba(0, 0, 0, 0.8); /*Semi-transparent background for focus*/
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000; /* Ensure it appears above other elements */
  overflow: hidden;
}

.cropper-controls {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
}
.cropper-controls .crop {
  padding: 8px 16px;
  background: #128f32;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 25px;
}

.cropper-controls .cancel {
  padding: 8px 16px;
  background: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 25px;
}

/*--------------------------------------------------------------
#  Rresponsive Media Queries
--------------------------------------------------------------*/
@media (max-width: 812px) {
  .cropper-container {
    width: 70vw; /* Full width of the viewport */
    /* Full height of the viewport */
    height: 80vh;
  }
}
@media (max-width: 532px) {
  .cropper-container {
    width: 80vw; /* Full width of the viewport */
    height: 80vh; /*Full height of the viewport */
  }
}
@media (max-width: 360px) {
  .cropper-container {
    width: 90vw; /* Full width of the viewport */
    height: 60vh; /* Full height of the viewport */
  }
}
@media (max-width: 260px) {
  .cropper-container {
    width: 100vw; /* Full width of the viewport */
    height: 60vh; /* Full height of the viewport */
  }
}
