/*--------------------------------------------------------------
# Sections
--------------------------------------------------------------*/
.section-mf {
  padding-top: 4rem;
}
.section-mf .section-container {
  padding-top: 1rem;
  padding-bottom: 4rem;
}

@media (min-width: 767px) {
  .section-mf .box-pl2 {
    margin-top: 3rem;
    padding-left: 0rem;
  }
}

.section-container {
  padding: 0.5rem 3rem 3rem;
  position: relative;
  background-color: #fff;
  z-index: 2;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.06), 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}

.section-container .title-box-2 {
  margin: 3rem 0;
}

.section-title {
  font-size: 2rem;
  position: relative;
}

.section-title:before {
  content: "";
  position: absolute;
  height: 3px;
  background-color: #0078ff;
  width: 100px;
  bottom: -12px;
}

@media (min-width: 768px) {
  .section-container {
    padding: 0.5rem 3rem 3rem;
  }
}

.section-border {
  padding: 0.6rem 0.6rem;
  margin-bottom: 0.3rem;
  border: 1px dashed #8080806b;
}

.section-box {
  margin: 0;
}
