/*--------------------------------------------------------------
# Login Form 
--------------------------------------------------------------*/

.login-container {
  border-radius: 5px;
  max-width: 400px;
  margin: 130px auto 50px;
  padding: 15px;
  background-color: white;
  box-shadow: 0 0 5px 6px rgba(186 168 168 / 62%);
  text-align: center;
}

.login-container h2 {
  color: black;
  margin-top: 30px;
  text-align: center;
}

.login-container input {
  width: 100%;
  padding: 20px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
  border-radius: 5px;
  box-shadow: none;
}

.login-container input:focus {
  border: 1px solid #0078ff;
}
.pwd .login-button {
  background: #0062d3;
  color: #fff;
  border: 0;
  padding: 10px 25px;
  border-radius: 25px;
  cursor: pointer;
  width: 100%;
  margin: 20px auto 5px;
  transition: transform 0.3s ease;
}

.pwd .login-button:hover {
  transform: scale(1.1);
}
.pwd a {
  color: #0062d3;
}
.forget-link {
  transition: transform 0.3s ease;
}
.forget-link:hover {
  transform: scale(1.1);
}
.signup-link {
  margin: 15px auto;
  transition: transform 0.3s ease;
}

.signup-link a {
  color: #0062d3;
  cursor: pointer;
}
.signup-link:hover {
  transform: scale(1.1);
}
.error-message {
  color: white;
  text-align: left;
  background-color: rgb(195 25 25);
  padding: 0.5rem 1rem;
  border-radius: 5px;
}
