/*--------------------------------------------------------------
# Upload CV Form 
--------------------------------------------------------------*/
.CV-container {
  border-radius: 5px;
  max-width: 550px;
  margin: 120px auto;
  padding: 15px;
  background-color: white;
  box-shadow: 0 0 5px 6px rgba(186 168 168 / 62%);
}
.CV-container .uploadcv {
  background: #128f32;
  width: 100%;
  color: #fff;
  border: 0;
  padding: 8px 25px;
  border-radius: 25px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.CV-container .uploadcv:hover {
  transform: scale(1.07);
}

.CV-container .cancel-btn {
  background: #0078ff;
  width: 100%;
  color: #fff;
  border: 0;
  padding: 8px 25px;
  border-radius: 25px;
  cursor: pointer;
  transition: transform 0.3s ease;
  margin-top: 0.2rem;
}

.CV-container .cancel-btn:hover {
  transform: scale(1.07);
}
