.conditions-box {
  max-width: 400rem;
  padding-top: 1.5rem;
  margin: 0;
}
.conditions-border {
  max-width: 400rem;
  padding: 1.5rem;
  margin-bottom: 0.8rem;
  border: 1px dashed #8080806b;
}
.conditions-content p {
  text-align: justify;
  margin: 0;
}

.crud-actions button {
  transition: all 0.3s ease-in-out;
}

.crud-actions button:hover {
  transform: scale(1.1);
}

.crud-btn {
  padding: 10px 20px;
  border-radius: 25px;
  cursor: pointer;
  margin-left: 0.2rem;
}
.save-btn {
  background-color: #128f32;
  color: white;
  border: 0;
  padding: 10px 25px;
  border-radius: 25px;
  cursor: pointer;
  margin-right: 5px;
  transition: all 0.3s ease-in-out;
}

.save-btn:hover {
  transform: scale(1.1);
  background-color: #128f32;
  color: white;
}

.cancel-btn {
  transition: all 0.3s ease-in-out;
  padding: 10px 25px;
  border-radius: 25px;
  cursor: pointer;
  border: none;
}
.cancel-btn:hover {
  transform: scale(1.1);
}
/* Terms and Conditions Form */
.addTerm-container {
  border-radius: 5px;
  max-width: 550px;
  margin: 28px auto;
  padding: 15px;
  background-color: white;
  box-shadow: 0 0 5px 6px rgba(186 168 168 / 62%);
}
input[type="text"],
textarea {
  width: 100%;
  padding: 10px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
  border-radius: 5px;
}
