.skill-box {
  max-width: 30rem;
  margin: 0;
}
.skill-border {
  max-width: 30rem;
  padding: 0.4rem 0.5rem;
  margin-bottom: 0.3rem;
  border: 1px dashed #8080806b;
}
.skill-content p {
  text-align: justify;
  margin: 0;
}

.crud-actions button {
  transition: all 0.3s ease-in-out;
}

.crud-actions button:hover {
  transform: scale(1.1);
}

.crud-button {
  border: none;
  padding: 1px 5px;
  cursor: pointer;
  font-size: 1rem; /* Adjust size as needed */
  border-radius: 25px;
  transition: transform 0.3s ease;
}

.crud-button:hover {
  transform: scale(1.1); /* Adjust hover color as needed */
}
.save-btn {
  background-color: #128f32;
  color: white;
  transition: all 0.3s ease-in-out;
  padding: 10px 25px;
  border-radius: 25px;
  cursor: pointer;
  border: none;
  margin-right: 5px;
  margin-top: 10px;
}
.save-btn:hover {
  transform: scale(1.1);
  background-color: #128f32;
  color: white;
}
/* .save-btn:disabled {
  background-color: #89cf9b;
  cursor: not-allowed;
} */
.cancel-btn {
  transition: all 0.3s ease-in-out;
  padding: 10px 25px;
  border-radius: 25px;
  cursor: pointer;
  border: none;
  margin-top: 10px;
}
.cancel-btn:hover {
  transform: scale(1.1);
}

.addSkill-container {
  border-radius: 5px;
  max-width: 550px;
  margin: 120px auto;
  padding: 15px;
  background-color: white;
  box-shadow: 0 0 5px 6px rgba(186 168 168 / 62%);
}
input[type="text"],
textarea {
  width: 100%;
  padding: 10px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
  border-radius: 5px;
}

.updateorder-btn {
  background-color: #128f32;
  color: white;
  transition: all 0.3s ease-in-out;
  padding: 10px 25px;
  border-radius: 25px;
  cursor: pointer;
  border: none;
  margin-right: 7rem;
}

/* .updateorder-btn:disabled {
  background-color: #89cf9b;
  cursor: not-allowed;
} */
